<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layout/header')%>
  </head>
  <%- include('./layout/nav_bar')%>
  <body>
    <div id="mainboard"></div>
    <div id="draggable" draggable="true">Semi-conductor</div>
    <script src="/js/script.js"></script>
  </body>
</html>
