<div class="nav">
  <div id="logo_space">
    <a id="HardWare">HardWare</a>
    <a id="Simulator">Simulator</a>
  </div>
  <nav>
    <a id="About">About</a>
    <a id="Home">Home</a>
    <a id="Contact">Contact</a>
  </nav>
</div>
